pandas
pydantic
ipykernel
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
arxiv
pymupdf
wikipedia
dotenv
langgraph
arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu
langchain_huggingface